<magiumConfiguration xmlns="http://www.magiumlib.com/Configuration">
    <section identifier="process_queue">
        <group identifier="sqs">
            <element identifier="endpoint" />
        </group>
    </section>
    <section identifier="marvel">
        <group identifier="api">
            <element identifier="key" />
            <element identifier="secret" />
        </group>
    </section>
    <section identifier="google">
        <group identifier="analytics">
            <element identifier="tracking_id"/>
        </group>
    </section>
</magiumConfiguration>
